.behind {
    position: absolute;
  }

  .center {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  
  .bgimage { 
    width: 100%;
    height: auto;
    opacity: 0;
  }
  h1{
    color: rgb(0, 0, 0);
  }
  .formattable {
    width: 50%;
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
  }
  .middle{
    margin-top: 10px;
    margin-left:auto;
    margin-right:auto;
  }